@import "src/App.scss";

.desktop-drawer {
    height: 100vh;
    min-width: max-content;
    overflow-y: auto;
    @include breakpoint-max($lg) {
        display: none;
    }

    .drawer-inner {
        width: 450px;
        padding: $s3 0;
        box-sizing: border-box;
    }
}

.MuiDrawer-root {
    .MuiPaper-root {
        height: calc(50% - 56px);
        overflow: visible;
    }
}

.mobile-drawer {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    background-color: #fff;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    @include breakpoint-min($lg) {
        display: none;
    }

    .drawer-preview {
        height: 80px;
        padding: $s3;
        border-bottom: 2px solid $cp-grey-100;

        .handle {
            width: 30px;
            height: 6px;
            background-color: $cp-grey-300;
            border-radius: 3px;
            position: absolute;
            top: 8px;
            left: calc(50% - 15px);
        }

        .search {
            width: 100%;
            height: 2rem;
            display: flex;
            align-items: center;
            border: 1px solid $cp-grey-500;
            border-radius: 100px;
            padding: $s1;
            margin-top: $s2;

            &__input {
                flex-grow: 1;
                border: none;

                &:focus {
                    outline: none;
                }
            }

            &__icon {
                font-size: 1.5rem;
                color: $cp-grey-500;
            }
        }
    }

    .drawer-content {
        height: 0;
        transition: margin 0.1s ease-in-out;

        &__inner {
            height: 300px;
            padding-top: $s2;
            overflow-y: auto;
            -ms-overflow-style: none; /* Internet Explorer 10+ */
            scrollbar-width: none; /* Firefox */

            &::-webkit-scrollbar {
                display: none; /* Safari and Chrome */
            }
        }
    }

    .drawer-content.open {
        margin-bottom: 300px;
    }
}

.visible-sites-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    width: 100%;

    .noresults {
        padding: $s3;

        &__heading {
            color: $cp-grey-800;
            font-weight: 500;
            font-size: 1.3rem;
            padding-bottom: $s4;
            text-align: center;
        }

        &__body {
            font-size: 0.9rem;
            color: $cp-grey-600;
            padding: 0 $s4;
            text-align: center;
        }
    }

    .list-item {
        border-bottom: 2px solid $cp-grey-100;
        padding: $s2 $s8;

        &__header {
            .site-name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-right: $s4;
                font-weight: 500;
            }
            .site-properties {
                padding-top: $s1;
                display: flex;
                flex-wrap: wrap;
                gap: $s1;
            }
            .site-address {
                font-size: 0.8rem;
                line-height: 0.8rem;
                color: $cp-grey-600;
            }
        }

        &__body {
            padding-top: $s2;
            .site-hours {
                font-size: 0.8rem;
                width: 100%;
                line-height: 1rem;

                .left {
                    text-align: left;
                    padding-right: $s8;
                }

                .right {
                    text-align: right;
                }
            }
            .site-hours--unavailable {
                font-size: 0.8rem;
            }
        }

        &__footer {
            display: flex;
            gap: $s2;
            a {
                text-decoration: none;
                font-size: 0.85rem;
                color: $cp-grey-600;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: $s1;
            }
        }
    }

    .list-item.hidden {
        display: none;
    }

    .list-item.collapsed {
        .list-item__body {
            display: none;
        }
    }
}
