@import "src/App.scss";

.visible-sites-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .no-results {
        padding: $s4 $s8;

        &__heading {
            color: $cp-grey-900;
            font-weight: 500;
            font-size: 1.1rem;
            padding-bottom: $s1;
            // text-align: center;
        }

        &__body {
            font-size: 0.9rem;
            color: $cp-grey-600;
            // text-align: center;
        }
    }

    .list-item {
        max-width: 400px;
        width: 100%;
        border-bottom: 2px solid $cp-grey-100;
        padding: $s2;
        order: 2;

        &__header {
            .site-name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-right: $s4;
                font-weight: 500;
            }
            .site-properties {
                padding-top: $s1;
                display: flex;
                flex-wrap: wrap;
                gap: $s1;
            }
            .site-address {
                font-size: 0.8rem;
                line-height: 0.8rem;
                color: $cp-grey-600;
            }
        }

        &__body {
            padding-top: $s2;
            display: none;
            .site-hours {
                font-size: 0.8rem;
                width: 100%;
                line-height: 1rem;

                .left {
                    text-align: left;
                    padding-right: $s8;
                }

                .right {
                    text-align: right;
                }
            }
            .site-hours--unavailable {
                font-size: 0.8rem;
            }
        }

        &__footer {
            display: flex;
            gap: $s2;
            a {
                text-decoration: none;
                font-size: 0.85rem;
                color: $cp-grey-600;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: $s1;
            }
        }
    }

    .list-item.hidden {
        display: none;
    }

    .list-item.expanded {
        order: 1;
        // border: 2px solid $cp-blue-primary;
        .list-item__body {
            display: block;
        }
    }
}
