@import "src/App.scss";

.desktop-drawer {
    height: 100vh;
    min-width: max-content;

    .drawer-inner {
        width: 450px;
        height: 100%;
        display: flex;
        flex-direction: column;
        @include breakpoint-max($lg) {
            width: 375px;
        }

        .drawer-search {
            background-color: #fff;
            padding: $s2 0;
            padding-left: $s1;
            box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
                rgb(0 0 0 / 14%) 0px 3px 4px 0px,
                rgb(0 0 0 / 12%) 0px 1px 8px 0px;
            z-index: 2;
        }

        .testing-site-list {
            background-color: #fff;
            flex: 1 1 auto;
            min-height: 0px;
            overflow-y: auto;
            scroll-behavior: smooth;
        }

        .drawer-attribution {
            background-color: #fff;
            padding: $s2;
            z-index: 3;
            background-color: #fff;
            color: $cp-grey-700;
            font-size: 0.8rem;
            line-height: 1.2rem;
            padding-top: $s2;
            transition: all 0.2s ease-in-out;
            box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
                rgb(0 0 0 / 14%) 0px 3px 4px 0px,
                rgb(0 0 0 / 12%) 0px 1px 8px 0px;

            a {
                border-bottom: 1px solid $cp-grey-900;
                color: $cp-grey-900;
                display: inline-block;
                text-decoration: none;
            }
        }
    }
}
