@import "src/App.scss";

.desktop-drawer {
    height: 100vh;
    min-width: max-content;

    .drawer-inner {
        width: 450px;
        height: 100%;
        display: flex;
        flex-direction: column;

        .drawer-attribution {
            background-color: #fff;
            padding: $s2;
            z-index: 3;
            background-color: #fff;
            color: $cp-grey-700;
            font-size: 0.8rem;
            line-height: 1.2rem;
            padding-top: $s2;
            transition: all 0.2s ease-in-out;
            box-shadow: 0px -2px 15px 0px rgba(0, 0, 0, 0.2);

            a {
                border-bottom: 1px solid $cp-grey-900;
                color: $cp-grey-900;
                display: inline-block;
                text-decoration: none;
            }
        }

        .drawer-search {
            background-color: #fff;
            padding: $s2;
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
            z-index: 2;
        }

        .testing-site-list {
            background-color: #fff;
            flex: 1 1 auto;
            min-height: 0px;
            overflow-y: auto;
        }
    }
}
