@import "src/App.scss";

.search {
    // max-width: 400px;
    height: 2rem;
    display: flex;
    align-items: center;
    border: 1px solid $cp-grey-500;
    border-radius: 100px;
    padding: $s1;
    margin: 0 $s3;
    background-color: #fff;

    &__input {
        flex-grow: 1;
        border: none;

        &:focus {
            outline: none;
        }
    }

    &__icon {
        font-size: 1.5rem;
        color: $cp-grey-500;
    }
}
