@import "src/App.scss";

.search {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    border: 1px solid $cp-grey-500;
    border-radius: 100px;
    padding: $s1;
    background-color: #fff;

    &__input {
        flex-grow: 1;
        border: none;

        &:focus {
            outline: none;
        }
    }

    &__icon {
        font-size: 1.5rem;
        color: $cp-grey-500;
    }
}
.search-filters {
    padding-top: $s2;
    display: flex;
    gap: $s1;

    &__label {
        font-size: 0.8rem;
    }
}
