@import "src/App.scss";

.filters {
    padding-top: $s2;
    display: flex;
    gap: $s1;
    // max-width: 400px;
    margin: 0 auto;

    &__label {
        background-color: $cp-blue-primary;
        border-radius: 7px;
        padding: 0 $s1;
        &-inner {
            color: #fff;
            margin-right: 45px;
            width: 20px;
            display: flex;
            align-items: center;
            gap: 3px;
            transition: margin-right 0.3s ease-in-out;
            margin-top: -2px;
        }
        &__icon {
            display: flex;
            align-items: center;
            font-size: 1.1rem;
        }
        &__text {
            margin-top: 2px;
            font-size: 0.9rem;
            transition: opacity 0.2s ease-in-out;
            transition-delay: 0.3s;
        }
    }

    &__label-inner.collapsed {
        margin-right: 0;
        .filters__label__text {
            opacity: 0;
            transition-delay: 0s;
        }
    }

    &__options {
        display: flex;
        gap: $s1;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
