@import "src/App.scss";

.filters {
    padding-top: $s2;
    display: flex;
    gap: $s1;
    max-width: 400px;
    margin: 0 auto;

    &__label {
        font-size: 0.8rem;
        font-weight: 500;
        color: $cp-grey-900;
    }
}
